---
import SectionTitle from "../components/SectionTitle.astro";
import SocialIcons from "../components/SocialIcons.astro";
import Layout from "../layouts/Layout.astro";
import Bar from "../components/Bar.astro";
import DataRow from "../components/DataRow.astro";
---

<Layout title="CV - Leandro Pereyra - Frontend Developer">
  <main class="flex flex-col items-center justify-center py-14">
    <!-- NOMBRE -->
    <h1 class="text-3xl font-bold">Leandro Pereyra</h1>
    <h2 class="text-xl">Frontend Developer</h2>

    <!-- Redes/Contacto -->
    <div class="flex justify-center py-2">
      <SocialIcons />
    </div>

    <!-- Descripción -->

    <!-- Experiencia -->
    <SectionTitle title="Experience" />
    <Bar />
    <DataRow
      title="Fullstack Developer"
      date="11/2023 07/2024"
      description="Redesigned and developed user interfaces (UI) and integrated advanced functionalities into the front-end. Integrated front-end with back-end services, ensuring alignment with API specifications. Developed routes and controllers, enhancing front-end interactions and user experience"
      subTitle="SiwCargo"
    />
    <DataRow
      title="Frontend Developer"
      date="11/2022 07/2023"
      description="Designed and developed several small projects, primarily landing pages, along with managing hosting, domain configurations, and migrations."
      subTitle="Freelance"
    />
    <DataRow
      title="Frontend Developer"
      date="11/2022 07/2023"
      description="Designed and developed the user interface following client specification. Managed hosting, domain configurations, and migration. Designed the email signatures."
      subTitle="MF Estudio"
    />
    <DataRow
      title="Frontend Developer"
      date="11/2022 07/2023"
      description="Designed, developed, and optimized graphical interfaces. Integrated front-end dynamics with back-end to ensure efficient data flow, following API specifications and documentation guidelines."
      subTitle="CryptoForensics"
    />

    <!-- Educación -->
    <SectionTitle title="Education" />

    <!-- Certificación -->

    <!-- Skills -->
  </main>
</Layout>
