---
export interface Props {
  date?: string;
  title?: string;
  url?: string;
  subTitle?: string;
}

const { url, date, title, subTitle } = Astro.props;
---

<div class="flex flex-row justify-start mx-2 dark:text-white pb-2">
  {
    date && (
      <div class="flex flex-col pr-6">
        <div class={"mb-1"}>{date}</div>
      </div>
    )
  }

  <a href={url} class="flex-1">
    <div class="flex gap-3">
      {title && <span class="font-bold">{title}</span>}
      {subTitle && <span>{subTitle}</span>}
    </div>
  </a>
</div>
