---
export interface Props {
  date: string;
  title?: string;
  description: string;
  subTitle?: string;
}

const { description, date, title, subTitle } = Astro.props;
---

<div class="flex flex-row justify-start mx-2 dark:text-white w-full lg:w-4/12 pb-2">
  <div class="flex flex-col pr-6">
    {date.split(" ").map((d: string) => <div class={"mb-1"}>{d}</div>)}
  </div>

  <div class="flex-1">
    <div class="flex gap-3">
      {title && <span class="font-bold">{title}</span>}
      {subTitle && <span>{subTitle}</span>}
    </div>
    <div>{description}</div>
  </div>
</div>
